
*{
	margin: 0;
	padding: 0;

}

body{
	font-family: "roboto", sans-serif;
}
/*	content: "";
	display: block;
	color: #ffffff;
	width: 100vw;
	max-height: 20vh;
	background: 
    url('../img/code.jpg') center no-repeat;
  background-size: cover;



 banner video experiment>> <video class="bannervideo" src="./stylessheet/banner.mp4" alt="background" preload="auto"  autoplay="autoplay" muted loop></video>
}*/
.topcontainer{
	
  background-color: grey; 
	height: 320px;
  width: 100%;
	/*background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(148, 48, 48, 0.2),
      rgba(167, 67, 67, 0.4)
    ),
    url('../img/code.jpg')center no-repeat;
  background-size: auto;*/
}

.bannerimage{
  object-fit: fill;
  max-height: 20rem;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(148, 48, 48, 0.2),
      rgba(167, 67, 67, 0.4)
    ),
    url('../img/code.jpg')center no-repeat;
  background-size: auto;

}

.bannervideo{
  object-fit: fill;
  max-height: 20rem;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(148, 48, 48, 0.2),
      rgba(197, 67, 67, 0.4)
    ),
    /*url('../img/code.jpg')*/ 
}
.container {
  height: 80em;
  width: 100%;
  
}

/*.container2 {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(148, 48, 48, 0.2),
      rgba(167, 67, 67, 0.4)
    ),
    url('../img/code.jpg') center no-repeat;
  background-size: cover;
}*/

/*ctrl c ctrl v  https://github.com/lashaNoz/Hamburger-Menu/commit/9ae47ab5a83167cd6199fdc1ef2bc3f8135a9cd5*/

.sidenav {
  margin-right: auto;
  width: auto;
  height: 100vh;
  bottom: 15em;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5% 5% 5% 5%;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}

.change {
  right: 10px;
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {	
  display: block;
  position: relative;
  top:0;
  width: 100%;
  height: 5px;
  background-color:rgba(0,255,0,0.9);
  transition: all 0.6s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: right;
}

.snav-item {
  list-style: none;
  margin: 25px;
}

.snav-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: rgba(0,255,0,0.85)/*#eee*/;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 6px 0;

}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.snav-link::after {
  bottom: 0;
  transform-origin: right;
}

.snav-link::before {
  top: 0;
  transform-origin: left;
}

.snav-link:hover::before,
.snav-link:hover::after {
  transform: scaleX(1);
}

.footer {
    position: fixed;
    float: left;
    bottom: 0px;
     font: 1rem 'Fira Sans', sans-serif;
     font-size: 10px;

}
