.slider {
  width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}
.slide {
  width: 300px;
  flex-shrink: 0;
  height: 100%;
}

.slides > div:target {
  transform: scale(0.8);
}