// @font-face {
//   font-family: sixtyfour;
//   src: url('./fonts/Sixtyfour.ttf');
//   font-weight: bolder;
//   font-style: normal;   
// }

// @font-face {
//   font-family:Atlantis-Head ;
//   src: url('./fonts/AtlantisHeadline-Bold.ttf');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: ChessType;
//   src: url('./fonts/FontsFree-Net-ChessType.ttf');
//   font-weight: bolder;
//   font-style: normal;   
// }

body {
  background: black;
  overflow-y: hidden;
}

.heading{
  font-family: sixtyfour;
  font-style: italic;
  position: absolute;
  transform: translate(-55%, -50%);
  top: 7%;
  left: 50%;
  height:100px;
}



.glitch {
  /*! color: rgb(223, 191, 191); */
  color: rgb(0, 255, 42);
  position: relative;
  font-size: 7vw;
  font-weight:lighter ;
  animation: glitch 5s 5s infinite;
  text-decoration: underline;
  text-decoration-color:red ;
  text-decoration-thickness: 2px;
  top: 10px;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -6px 0 magenta;
  background: #00000029;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 10s 5.02s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: -1px;
  text-shadow: -5px 0 lightgreen;
  background: #0003;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 10s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@media only screen and (min-width: 700px){

  .glitch {
    /*! color: rgb(223, 191, 191); */
    color: rgb(0, 255, 42);
    position: relative;
    font-size: 6vw;
    animation: glitch 5s 5s infinite;
    text-decoration: underline;
    text-decoration-color:red ;
    text-decoration-thickness: 5px;
  }
  
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -6px 0 magenta;
    background: #00000029;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 10s 5.02s infinite;
  }
  
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 lightgreen;
    background: #0003;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 10s 5s infinite;
  }


}
