
*{
	margin: 0;
	padding: 0;

}

body{
	font-family: "roboto", sans-serif;
  /* blogish*/
  padding: 20px;
  background: #f1f1f1;
}
/*	content: "";
	display: block;
	color: #ffffff;
	width: 100vw;
	max-height: 20vh;
	background: 
    url('../src/images/assets/code.jpg') center no-repeat;
  background-size: cover;



 banner video experiment>> <video class="bannervideo" src="./stylessheet/banner.mp4" alt="background" preload="auto"  autoplay="autoplay" muted loop></video>
}
.topcontainer{
  background-color: rgb(34, 139, 34); 
  background-size: auto; 
	height: 20%;
  width:100%;
  position: -webkit-sticky;
  position: absolute;
	background: linear-gradient(
      rgba(34, 139, 34, 0.9),
      rgb(34, 140, 34),
      rgba(15, 175, 105, 0.85)
    )*/
}   
/*
.bannerimage{
  background-color: forestgreen; 
  object-fit: fill;
  max-height: 20rem;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(148, 48, 48, 0.2),
      rgba(167, 67, 67, 0.4)
    ),
    url('../images/assets/code.jpg')center no-repeat;
  background-size: auto;

}*/

.bannervideo{
  background-color: forestgreen; 
  object-fit: fill;
  max-height: 20rem;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(148, 48, 48, 0.2),
      rgba(197, 67, 67, 0.4)
    ),
    /*url('../img/code.jpg')*/ 
}
.container {
  height: 21%;
  width: 100%;
  
}
/*
.container2 {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(148, 48, 48, 0.2),
      rgba(167, 67, 67, 0.4)
    ),
    url('../img/code.jpg') center no-repeat;
  background-size: cover;
}*/

/*ctrl c ctrl v  https://github.com/lashaNoz/Hamburger-Menu/commit/9ae47ab5a83167cd6199fdc1ef2bc3f8135a9cd5*/

/*  blog-ish look  */

* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  
  padding: 20px;
  background: #cae9bc;
}

/* Header/Blog Title */
.header {
  font-family: Arial;
  color: white;
  padding: 25px;
  font-size: 40px;
  text-align: center;
  background: rgb(40, 87, 47);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }

/* normal footer */
.footer {
    position: fixed;
    float: left;
    bottom: 0px;
     font: 1rem 'Fira Sans', sans-serif;
     font-size: 10px;

}
